*{
  margin: 0;
  padding: 0;
  font-family:"Montserrat", sans-serif;
  box-sizing: border-box;
}
body{
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.imgPerfil{
margin: 40px;  
width: 150px ;
height: 290px ;
border-radius: 15px;
border: 6px solid rgb(193, 139, 240)
}

/* Secciones */
.section {
  padding: 20px;
  margin: 20px 0;
}
.section1{
  padding: 18px;
  margin: 8px;
}
.section2{
  padding: 18px;
  margin: 8px;
}

/* Textos */
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
}

p {
  line-height: 1.6;
}

.perfilP {
  text-align: left;
}

 /* Títulos */
.titulo {
  margin: 20px 0;
}

/* Iconos */
.fa-brands:hover {
  transform: scale(1.5);
  transition: transform 0.3s;
}
/* Iconos Técnicos */
.iconos {
  text-align: center;
  margin: 20px 0;
}

.iconos i {
  margin: 0 10px;
}

/* Footer */
footer {
  background-color: black;
  color: aliceblue;
  padding: 10px 0
}
/* Estilo footer*/
.zapato1{
display: flex;
justify-content: center;
}
.zapato2{
display: flex;
justify-content: center;
}


/*                  PORTAFOLIO                      */



.padre{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: justify;
}
.foto{
  width: 28rem;
  padding: 8px;
}

